.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 4rem;
    padding-bottom: 4rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
}